@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Karla:wght@700;800&display=swap');

.app {

    /*background-size: cover;*/
}

body {
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 11px;
    padding: 40px 15px;
    background-position: center;
    background-image: url("./images/background.png");
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #F5F7FB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: left;
    background-image: url("./images/background.png");
}

.modal__title {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 31.25px;
    line-height: 37px;
    text-align: center;
    color: #293264;
    margin-bottom: 7px;
}

.modal__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #293264;
    margin-bottom: 30px;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #F5F7FB;
    padding: 10px 20px;
    background-color: #4D5B9E;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .2s;
}

.button:hover {
    background-color: #1a2e8d;
}

.questions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 400px;
    margin-bottom: 20px;
}

.question {
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 0.794239px solid #DBDEF0;
}

.question:not(:last-child) {
    margin-bottom: 15px;
}

.question__title {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #293264;
    margin-bottom: 12px;
    width: 100%;
}

.question__answers {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 12px;
}

.answer {
    position: relative;
    padding: 4px 16px;
    font-weight: 500;
    font-size: 10.24px;
    line-height: 12px;
    text-align: center;
    color: #293264;
    border-radius: 7.94239px;
    transition: border-color .2s;
}

.answer::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.answer:hover {
    border-color: #aaabbd;
}

.loading {
    font-family: 'Karla', sans-serif;
    font-size: 50px;
    font-weight: 800;
    color: #1a2e8d;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.results {
    display: flex;
    align-items: center;
    gap: 20px;
}

.score {
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    text-align: end;
    color: #293264;
}

.loading-new-questions {
    font-weight: 700;
    font-size: 16px;
    line-height: 15px;
    text-align: end;
    color: #293264;
}
